html, body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

svg{
    color: gray;
    outline: none;
    padding-left: 10px;
    width: 18px;
}

.delButton:hover{
    color: rgb(225, 53, 53);
    
}

.editButton:hover{
    color: orange;
}


main{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-image: url('/image.png');
    background-size: cover;
    color: rgb(92, 163, 196);
    font-size: x-large;
}

.pattaya-regular {
  font-family: "Pattaya", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.delius-regular {
  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
}


input{
    outline: none;
    border-bottom: 2px solid rgb(146, 193, 215);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background: transparent;
    border-radius: 2px;
    color: rgb(92, 163, 196);
    font-size: large;
    margin-bottom: 13px;
}

.container{
    background-color: whitesmoke;
    padding: 30px;
    border-radius: 10px;
}

button{
    background-color: rgb(146, 193, 215);
    border: 0;
    margin-left: 10px;
    border-left: 10px;
    color: aliceblue;
    border-radius: 10px;
}

button:hover{
    background-color: aliceblue;
    color: rgb(146, 193, 215);
    border: 1.5px solid rgb(146, 193, 215);
}

.checkBox{
    width: 15px;
    height: 15px;
    border: 0cap; 
}

.checkBox:checked {
    background-color: aquamarine;
  } 

  
footer{
    font-size: medium;
    
}